USE [master]
GO
/****** Object:  Database [Drivers]    Script Date: 06.12.2021 14:09:02 ******/
CREATE DATABASE [Drivers]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Voditely', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Voditely.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Voditely_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Voditely_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Drivers].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Drivers]
GO
/****** Object:  Table [dbo].[Delite]    Script Date: 06.12.2021 14:09:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delite](
	[ID] [int] NULL,
	[Фамилия] [nvarchar](50) NULL,
	[Имя] [nvarchar](50) NULL,
	[Отчество] [nvarchar](50) NULL,
	[[Паспорт (серия и номер)] [nvarchar](50) NULL,
	[Адрес регистрации] [nvarchar](50) NULL,
	[Адрес проживания] [nvarchar](50) NULL,
	[Место работы] [nvarchar](50) NULL,
	[Должность] [nvarchar](50) NULL,
	[Мобильный телефон] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Фотография] [nvarchar](50) NULL,
	[Замечания] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 06.12.2021 14:09:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[ID] [int] NULL,
	[Фамилия] [nvarchar](50) NULL,
	[Имя] [nvarchar](50) NULL,
	[Отчество] [nvarchar](50) NULL,
	[Паспорт (серия и номер)] [nvarchar](50) NULL,
	[Адрес регистрации] [nvarchar](50) NULL,
	[Адрес проживания] [nvarchar](50) NULL,
	[Место работы] [nvarchar](50) NOT NULL,
	[Должность] [nvarchar](50) NOT NULL,
	[Мобильный телефон] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Фотография] [nvarchar](50) NULL,
	[Замечания] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Drivers] ([ID], [Фамилия], [Имя], [Отчество], [Паспорт (серия и номер)], [Адрес регистрации], [Адрес проживания], [Место работы], [Должность], [Мобильный телефон], [Email], [Фотография], [Замечания]) VALUES (1, N'Alonso', N'Hopkins', N'Caleb', N'2303 160716', N'452 Cobblestone St.', N'452 Cobblestone St.', N'Global Gillette', N'Reporter', N'970 383-8933', N'skippy@icloud.com', N'001-happy-18.png', N'')
INSERT [dbo].[Drivers] ([ID], [Фамилия], [Имя], [Отчество], [Паспорт (серия и номер)], [Адрес регистрации], [Адрес проживания], [Место работы], [Должность], [Мобильный телефон], [Email], [Фотография], [Замечания]) VALUES (2, N'Kaydence', N'Sellers', N'Susannah', N'5563 160745', N'Hyattsville, MD 20782', N'Hyattsville, MD 20782', N'Coca-Cola', N'Elementary School Teacher', N'867 708-4447', N'isotopian@sbcglobal.net', N'002-cool-5.png', N'')
INSERT [dbo].[Drivers] ([ID], [Фамилия], [Имя], [Отчество], [Паспорт (серия и номер)], [Адрес регистрации], [Адрес проживания], [Место работы], [Должность], [Мобильный телефон], [Email], [Фотография], [Замечания]) VALUES (3, N'Finnegan', N'Bray', N'Brighton', N'3719 717453', N'9648 Philmont Lane', N'9648 Philmont Lane', N'Harley-Davidson Motor Company', N'Childcare worker', N'221 428-7850', N'isaacson@att.net', N'003-happy-17.png', N'')
GO
USE [master]
GO
